* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #eff0f4;
}

nav {
    height: 56px;
    width: 100%;
    background-color: #4285f4;
    display: flex;
    justify-content: center;
    align-items: center;

}

#logo_enlish {
    color: white;
    font-size: 48px;
}

#divider {
    color: white;
    font-size: 48px;
}

#logo_urdu {
    color: white;
    font-size: 48px;
}

.intro {
    /* font-size: 20px; */
    padding: 15px;
    margin-top: 5px;
}

.summary {
    border-radius: 10px;
    padding: 3px;
    text-align: center;
    background-color: white;
    box-shadow: 3px 3px 12px #a89f9f;
}

.summary p {
    font-size: 18px;
}

.sumImg {
    border-radius: 10px;
    margin-top: 10px;
}

.sumImg img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 3px 3px 12px #a89f9f;
}

/* #bismillah{
    text-align: center;
} */

/* #lastIntro {
    float: right;
} */

hr {
    margin-top: 10px;
}

.main_wrapper {
    padding: 15px;
    grid-gap: 50px 50px;
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-template-rows: repeat(2, 420px);
}

.desc {
    border-radius: 10px;
    padding: 3px;
    background-color: white;
    text-align: center;
    box-shadow: 3px 3px 12px #a89f9f;
}

.desc p {
    font-size: 18px;
}

.card img {
    height: 92.7%;
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 12px #a89f9f;
}

footer {
    margin-top: 40px;
    background-color: #4285f4;
    height: 47px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#author {
    font-size: 20px;
    color: white;
    margin-top: 4px;
    margin-right: 10px;
}

#author a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 18px;
}

#copyright {
    font-size: 14px;
    color: white;
    margin-top: 4px;
}

@media(max-width: 920px) {
    #logo_enlish {
        font-size: 44px;
    }

    #logo_urdu {
        font-size: 44px;
    }

    .main_wrapper {
        grid-template-rows: repeat(3, 420px);
    }
}

@media(max-width: 720px) {
    #logo_enlish {
        font-size: 34px;
    }

    #logo_urdu {
        font-size: 34px;
    }

    .intro {
        /* font-size: 20px; */
        padding: 12px;
    }

    .main_wrapper {
        padding: 12px;
        grid-template-rows: repeat(3, 420px);
    }

    .cardImg img {
        height: 92.6%;
    }

    .summary p {
        font-size: 18px;
    }

    .desc p {
        font-size: 18px;
    }

    #author {
        font-size: 18px;
    }

    #author a {
        font-size: 18px;
    }

    #copyright {
        font-size: 14px;
    }

}

@media(max-width: 620px) {
    .main_wrapper {
        padding: 12px;
        grid-template-rows: repeat(5, 470px);
    }
}

@media(max-width: 470px) {

    #logo_enlish {
        font-size: 22px;
    }

    #logo_urdu {
        font-size: 22px;
    }

    .intro {
        /* font-size: 18px; */
        padding: 12px;
    }

    .main_wrapper {
        padding: 12px;
        grid-template-rows: repeat(5, 420px);
    }

    .summary p {
        font-size: 16px;
    }

    .desc p {
        font-size: 16px;
    }


    #author {
        font-size: 13px;
    }

    #author a {
        font-size: 13px;
    }

    #copyright {
        font-size: 12px;
    }

}

@media (max-width: 340px) {
    #logo_enlish {
        font-size: 20px;
    }

    #logo_urdu {
        font-size: 20px;
    }

    .intro {
        /* font-size: 16px; */
        padding: 10px;
    }

    .main_wrapper {
        padding: 10px;
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
        grid-template-rows: repeat(5, 420px);
    }

    .summary p {
        font-size: 12px;
    }

    .desc p{
        font-size: 12px;
    }

    #author {
        font-size: 11px;
    }

    #author a {
        font-size: 11px;
    }

    #copyright {
        font-size: 10px;
    }

}

@media(max-width: 305px) {

    #logo_enlish {
        font-size: 16px;
    }

    #logo_urdu {
        font-size: 16px;
    }

    .intro {
        /* font-size: 16px; */
        padding: 10px;
    }

    .main_wrapper {
        padding: 10px;
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
        grid-template-rows: repeat(5, 420px);
    }

    .summary p {
        font-size: 12px;
    }

    .desc p{
        font-size: 12px;
    }

    #author {
        font-size: 9px;
    }

    #author a {
        font-size: 10px;
    }

    #copyright {
        font-size: 10px;
    }

}